<% var data = {
  title: "Заголовок | Проект",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

      <div class="first-container container shadow p-3 mb-5 bg-white rounded">
       <div class="row">
         <div class="left col-5">
             <div class="row">
               <div class="social col-auto">
                 <div class="row">
                   <div class="social-icon col">
                     <img src="/images/facebook-f-brands.svg" alt="facebook"/>
                    </div>
                   <div class="social-icon col">
                     <img src="/images/facebook-f-brands.svg" alt="facebook"/>
                    </div>
                   <div class="social-icon col">
                     <img src="/images/facebook-f-brands.svg" alt="facebook"/>
                    </div>
                 </div>
               </div>
               <div class="title border border-primary">
                 <h4>РЕКЛАМА В ЛИФТАХ</h4>
                 <h3>САНКТ-ПЕТЕРБУРГА</h3>
               </div>
               <div class="title-2 border border-primary">
                 <h5>ЭТО 2 МИЛЛИОНА ПОТЕНЦИАЛЬНЫХ КЛИЕНТОВ</h5>
               </div>
             </div>
             <div class="left-footer row border border-primary">
               <div class="left-footer-icons col-3">
                 <div class="col">1</div>
                 <div class="col">2</div>
                 <div class="col">3</div>
               </div>
               <div class="left-footer-text col-9">
                   <div class="col">ТЕКСТ ОПИСАНИЯ УСЛУГИ</div>
                   <div class="col">ТЕКСТ ОПИСАНИЯ УСЛУГИ</div>
                   <div class="col">ТЕКСТ ОПИСАНИЯ УСЛУГИ</div>
               </div>
             </div>
         </div>
         <div class="right col-7">
           <div class="d-flex justify-content-around">
              <img src="/images/123_7.jpg" alt="photo"/>
           </div>
           <div class="right-footer col border border-primary">
             <div class="row">
               <div class="title col"><p>ПОЛУЧИТЕ ИНДИВИДУАЛЬНОЕ ПРЕДЛОЖЕНИЕ</p>
                 <div class="row">
                   <form>
                     <div class="row">
                        <div class="form col d-flex justify-content-around">
                          <div class="col-4">
                            <input type="text" class="form-control" placeholder="Ваше Имя"/>
                            </div>
                            <div class="col-4">
                              <input type="text" class="form-control" placeholder="Номер телефона"/>
                            </div>
                            <div class="col-4">
                              <button type="button" class="btn btn-danger btn-block">Отправить</button>
                            </div>
                        </div>  
                     </div>
                   </form>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
  </div>    
  <div class="give-you">
    <div class="container">
      <div class="row">
        <div class="title col d-flex justify-content-center"><h3>ЧТО ДАСТ ВАМ РЕКЛАМА В ЛИФТАХ:</h3></div>
      </div>
      <div class="row">
        <div class="circles col d-flex justify-content-center">
          <div class="main-circles">
            <div class="circle-out">
              <div class="circle-out">
                <div class="circle-in"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="circles col d-flex justify-content-center">    
          <div class="circle-1 position-absolute">
            <div class="mini-circle-1">
              <div class="mini-circle-1-1 col d-flex justify-content-center">1</div>
            </div>
          </div>
          <div class="circle-2 position-absolute">
            <div class="mini-circle-2">
              <div class="mini-circle-2-2 col d-flex justify-content-center">2</div>
            </div>
          </div>
          <div class="circle-3 position-absolute">
            <div class="mini-circle-3">
              <div class="mini-circle-3-3 col d-flex justify-content-center">3</div>
            </div>
          </div>
          <div class="circle-4 position-absolute">
            <div class="mini-circle-4">
              <div class="mini-circle-4-4 col d-flex justify-content-center">4</div>
            </div>
          </div>
          <div class="circle-0-1 position-absolute">
            <div class="mini-circle-0-1"></div>
          </div>
          <div class="circle-0-2 position-absolute">
            <div class="mini-circle-0-2"></div>
          </div>
          <div class="circle-0-3 position-absolute">
            <div class="mini-circle-0-3"></div>
          </div>
          <div class="circle-0-4 position-absolute">
            <div class="mini-circle-0-4"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col footer-give-you d-flex justify-content-center">
          <h2 class="m-2">9000</h2><h3 class="m-2">стендов по Санкт-Петербургу</h3>
          <button type="button" class="btn btn-light m-2">Выбрать на карте</button>
        </div>
      </div>
    </div>
  </div>
  <div class="na-stendah">
    <div class="container">
      <div class="row justify-content-end"> 
        <div class="title col-auto">
          <h6 class="h6-1">Размещение рекламы</h6>
          <h1 class="h1-1">На стендах в лифтах</h1>
          <h6 class="h6-2">С нами идеально подойдет<br>для Вашего бизнеса</h6>
          <h1 class="h1-2">ЕСЛИ У ВАС:</h1>
        </div>
      </div>
      <div class="price row justify-content-around">
        <div class="1price-left col-5 shadow p-3 mb-5 bg-white rounded">
          <div class="row">
            <div class="left col">
              <div class="radius"></div>
            </div>
            <div class="right col">
              <div class="col">ТекстТекстТекст</div>
              <div class="col">
                <button type="button" class="btn btn-light btn-block">ПОДРОБНЕЕ</button>
              </div>
            </div>
          </div>
        </div>
        <div class="1price-right col-5 shadow p-3 mb-5 bg-white rounded">
          <div class="row">
            <div class="right col">
              <div class="col">ТекстТекстТекст</div>
              <div class="col">
                <button type="button" class="btn btn-light btn-block">ПОДРОБНЕЕ</button>
              </div>
            </div>
            <div class="col d-flex justify-content-end">
              <div class="radius"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="price row justify-content-around">
        <div class="1price-left col-5 shadow p-3 mb-5 bg-white rounded">
          <div class="row">
            <div class="left col">
              <div class="radius"></div>
            </div>
            <div class="right col">
              <div class="col">ТекстТекстТекст</div>
              <div class="col">
                <button type="button" class="btn btn-light btn-block">ПОДРОБНЕЕ</button>
              </div>
            </div>
          </div>
        </div>
        <div class="1price-right col-5 shadow p-3 mb-5 bg-white rounded">
          <div class="row">
            <div class="right col">
              <div class="col">ТекстТекстТекст</div>
              <div class="col">
                <button type="button" class="btn btn-light btn-block">ПОДРОБНЕЕ</button>
              </div>
            </div>
            <div class="col d-flex justify-content-end">
              <div class="radius"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="price row justify-content-around">
        <div class="1price-left col-5 shadow p-3 mb-5 bg-white rounded">
          <div class="row">
            <div class="left col">
              <div class="radius"></div>
            </div>
            <div class="right col">
              <div class="col">ТекстТекстТекст</div>
              <div class="col">
                <button type="button" class="btn btn-light btn-block">ПОДРОБНЕЕ</button>
              </div>
            </div>
          </div>
        </div>
        <div class="1price-right col-5 shadow p-3 mb-5 bg-white rounded">
          <div class="row">
            <div class="right col">
              <div class="col">ТекстТекстТекст</div>
              <div class="col">
                <button type="button" class="btn btn-light btn-block">ПОДРОБНЕЕ</button>
              </div>
            </div>
            <div class="col d-flex justify-content-end">
              <div class="radius"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="money">
    <div class="container shadow rounded">
      <div class="row">
        <div class="col-3">3</div>
        <div class="col-3">3</div>
        <div class="col-6">6</div>
      </div>
    </div>
  </div>


<%= _.template(require('./../includes/footer.html'))(data) %>