$font-stack: -apple-system, BlinkMacSystemFont,Roboto,'Open Sans','Helvetica Neue',sans-serif;

@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

body { font-family: $font-stack; background-color: rgb(224,25,80); color: white; }
    .menu-text {font-size: 0.8rem;}
    .first-container { background-color: white; color: black;
      .left {
        .social { margin-left: 4rem; margin-top: 2rem; background-color: rgb(224,25,80);
          .social-icon { border: solid 1px white; margin: 5px;
            img { width: 1rem;}   
          }
        }
        .title { margin-top: 4rem; margin-left: 3rem;}
        .title-2 {margin-top: 1rem; margin-left: 3rem; margin-bottom: 3rem;}
        .left-footer {
          .left-footer-icons {background-color: rgb(224,25,80); margin-top: 2rem; height: 8rem; color: white;}
          .left-footer-text {margin-top: 2rem;}
        }
      }
      .right {
        img { width: 20rem;}
        .right-footer {background-color: rgb(224,25,80); color: white;}
      }
    }
    .give-you { margin-bottom: 2rem;
      .circle-out {border-radius: 50%; border: solid 1px white; margin: 3rem;}
      .circle-in {border-radius: 50%; border: solid 1px white; width: 12rem; height: 12rem; margin: 3rem;}
      .circle-1 { margin-top: -24rem; margin-left: -9rem;
        .mini-circle-1 {border-radius: 50%; border: solid 1px white;
            background-color: silver;
        .mini-circle-1-1 {border-radius: 50%; border: solid 1px white; width: 2rem;
               height: 2rem; margin: 2px; background-color: white; color: silver;}         
        }
      }
      .circle-2 { margin-top: -27rem; margin-left: 5rem;
        .mini-circle-2 {border-radius: 50%; border: solid 1px white;
            background-color: silver;
        .mini-circle-2-2 {border-radius: 50%; border: solid 1px white; width: 2rem;
               height: 2rem; margin: 2px; background-color: white; color: silver;}         
        }
      }
      .circle-3 { margin-top: -10rem; margin-left: 6rem;
        .mini-circle-3 {border-radius: 50%; border: solid 1px white;
            background-color: silver;
        .mini-circle-3-3 {border-radius: 50%; border: solid 1px white; width: 2rem;
               height: 2rem; margin: 2px; background-color: white; color: silver;}         
        }
      }
      .circle-4 { margin-top: -12rem; margin-left: -4rem;
        .mini-circle-4 {border-radius: 50%; border: solid 1px white;
            background-color: silver;
        .mini-circle-4-4 {border-radius: 50%; border: solid 1px white; width: 2rem;
               height: 2rem; margin: 2px; background-color: white; color: silver;}         
        }
      }
      .circle-0-1 { margin-top: -27.5rem; margin-left: -2rem;
        .mini-circle-0-1 {border-radius: 50%; width: 1rem; height: 1rem; background-color: white;}
      }
      .circle-0-2 { margin-top: -21rem; margin-left: -7rem;
      .mini-circle-0-2 {border-radius: 50%; width: 1rem; height: 1rem; background-color: white;}
      }
      .circle-0-3 { margin-top: -17rem; margin-left: 6rem;
        .mini-circle-0-3 {border-radius: 50%; width: 1rem; height: 1rem; background-color: white;}
      }
      .circle-0-4 { margin-top: -4rem; margin-left: -3rem;
        .mini-circle-0-4 {border-radius: 50%; width: 1rem; height: 1rem; background-color: white;}
      }            
    }
    .na-stendah { background-color: #fff; color: #000; padding: 2rem;
      .container  { border: 4px solid rgb(229,181,195); background: #fff; margin-top: 3rem;
        .title { background-color: #fff; margin-top: -3rem; margin-right: -3rem; 
          .h6-1 {margin-left: 18rem;}
          .h1-1 {margin-left: 4rem;}
          .h1-2 {margin-left: 14rem; margin-top: -3rem;}
        }
        .price { margin-top: 2rem;
          .radius { border-radius: 50%; border: solid 1px red; width: 8rem; height: 8rem; background: red;}
          .right { background-color: rgb(224,25,80); margin: -1rem; color: #FFF; 
           button {margin-top: 5rem;}
              }   
            }
          }
        }
    .money {background: #fff;
      .container {background: rgb(224,25,80); width: 70%;}
    }